.review{
    margin-left: 25%;
    background-color: powderblue;
    transition: .5s;
    padding:5px;
    border-radius: 5px;
}

.review:hover{
    background-color: gold;
    border-radius: 5px;
}

.commentBody{
    background-color:rgb(245, 245, 237);
    
}
.editButton{
    color:black;
    transition: .5s;
}
.editButton:hover{
  color: red;
}
.singleCommentContainer{
    display:flex;
    gap:1px;
}


.textarea{
    margin-left: 20px;
    margin-right:10px;
}